<nav>
  <span>
      <a routerLink="/hello" routerLinkActive="active">Welcome </a>
    </span>
    <span>|</span>
    <span>
      <a routerLink="/registration" routerLinkActive="active">Registration </a>
    </span>
    <span>|</span>
    <span>
      <a routerLink="/brackets" routerLinkActive="active">Brackets</a>
    </span>
</nav>

<h1>Player</h1>
    <button (click)="addContestant('John Doe')">Create Player</button>

      <p *ngFor="let player of players; index as i">{{player}}</p>


<router-outlet></router-outlet>
