<h1>Register Players</h1>
<span *ngFor="let player of outputPlayers; index as i">{{player}} </span>
<p>{{messages}}</p>


<div class="form-group">
  <form (ngSubmit)="registerContestants()">
    <div class="register-form">
      <div *ngFor="let player of players; let j = index trackBy:trackByFn">
        <input type="text" placeholder="Contestant {{j}}" name="player{{j}}" [(ngModel)]="players[j]">
      </div>
    </div>
    <button type="submit">Register Contestants</button>
  </form>
</div>

<button type="button" (click)="autoFillTwoPlayers()">Autofill Two Players</button>
<button type="button" (click)="autoFillFourPlayers()">Autofill Four Players</button>
<button type="button" (click)="autoFillEightPlayers()">Autofill Eight Players</button>
